<div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Alumnos Registrados</h4>
        <div>
          <button type="button" class="btn btn-success btn-rounded m-t-10" data-toggle="modal"
            data-target="#modalCargarExcel"><i class='fa fa-plus'></i> Cargar Alumnos</button>
          <a routerLink="crear" class="btn btn-info btn-rounded float-sm-right"><i class='fa fa-plus'></i> Nuevo Alumno</a>
        </div>
  
        <div class="table-responsive pt-5">
          <div>
            <input type="search" class="form-control form-control-sm" placeholder="Buscar">
          </div>
  
          <table class="table table-bordered mt-3">
            <thead>
              <tr>
                <th>Cui</th>
                <th>Apellidos</th>
                <th>Nombre</th>
                <th>Tercio</th>
                <th>Autorizar</th>
                <th>Habilitado</th>
                <th class="text-nowrap">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let alumno of alumnos$ | async">
                <td><a [routerLink]="alumno.id">{{ alumno.cui }}</a> </td>
                <td>{{ alumno.apellido }}</td>
                <td>{{ alumno.nombre }}</td>
                <td>{{ alumno.grupo?.numero }}</td>
                <td>
                  <input type="checkbox" id="md_checkbox_22" class="filled-in chk-col-light-blue" checked>
                  <label for="md_checkbox_22">Autorizado</label>
                </td>
                <td>
                  <input type="checkbox" id="md_checkbox_21" class="filled-in chk-col-light-blue" checked>
                  <label for="md_checkbox_21">Habilitado</label>
                </td>
  
                <td class="text-nowrap">
                  <div class="btn-group">
                    <button type="button" class="btn btn-danger btn-sm dropdown-toggle" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      Action
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item btn-sm" [routerLink]="['editar', alumno.id ]">Editar</a>
                      <a class="dropdown-item btn-sm pointer" data-toggle="modal" data-target="#modalDialogo">Eliminar</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table> 
        </div>
  
      </div>
    </div>
  </div>
  
  
  <!-- Modal-->
  <div class="modal fade in show" id="modalCargarExcel" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel1">Cargar Alumnos</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">×</span></button>
        </div>
        <form>
        <div class="modal-body">
          
            <div class="form-group">
              <label>Alumnos Excel</label>
              <input type="file" class="form-control-file" [(ngModel)]="file" name="file" accept=".xls,.xlsx">
            </div>
          
        </div>
        <div class="modal-footer">
          <button type="reset" class="btn btn-default" data-dismiss="modal" (click)="resetFile()">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="cargarArchivoExcel()" data-dismiss="modal">Subir xls</button>
        </div>
      </form>
      </div>
    </div>
  </div>
  
  
  
  <!-- Modal -->
  <div class="modal fade" id="modalDialogo" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered"  role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Alerta</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ¿ Desea eliminar el siguiente Alumno ?
        </div>
        <div class="modal-footer">
  
          <button type="button" class="btn btn-primary w-50" (click)="eliminar()" data-dismiss="modal">Si</button>
          <button type="button" class="btn btn-secondary w-50" data-dismiss="modal">No</button>
          
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  
  