<div class="card">
  <div class="card-body">
    <form class="form-horizontal" role="form">
      <div class="form-body">
        <a [routerLink]="['..','editar',alumno.id]" class="btn btn-danger mr-2 btn-rounded float-right"> <i class="fa fa-pencil"></i> Editar</a>

        <h3>Información Personal</h3>
        <h6 class="card-subtitle">Informacion personal alumno</h6>
       <div *ngIf="alumno">
        <hr class="m-t-0 m-b-40">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="control-label text-md-right col-md-3">Cui:</label>
              <div class="col-md-9">
                <p class="form-control-static">{{ alumno.cui }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="control-label text-md-right col-md-3">Nombres:</label>
              <div class="col-md-9">
                <p class="form-control-static">{{ alumno.nombre }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="control-label text-md-right col-md-3">Apellidos:</label>
              <div class="col-md-9">
                <p class="form-control-static">{{ alumno.apellido }}</p>
              </div>
            </div>
          </div>
          <!--/span-->
        </div>
        <!--/row-->
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="control-label text-md-right col-md-3">Email:</label>
              <div class="col-md-9">
                <p class="form-control-static">{{ alumno.gmail }}</p>
              </div>
            </div>
          </div>
        </div>
        
        
        <h3 class="mt-2">Información Académica</h3>
        <h6 class="card-subtitle">Informacion académica alumno</h6>
        <hr class="m-t-0 m-b-40">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="control-label text-md-right col-md-3">Tercio</label>
              <div class="col-md-9">
                <p class="form-control-static">{{ alumno.grupo?.numero}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <!--/span-->
          <div class="col-md-6">
            <div class="form-group row">
              <label class="control-label text-md-right col-md-3">Estado:</label>
              <div class="col-md-9">
                <p class="form-control-static"> 
                  <span *ngIf="alumno.autorizacion === true"> Habilitado</span>
                  <span *ngIf="alumno.autorizacion === false"> Desabilitado</span>  
                </p>
              </div>
            </div>
          </div>
          <!--/span-->
        </div>
        <!--/row-->
      </div>
      <div>
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-offset-3 col-md-9">
                <a routerLink=".." class="btn btn-inverse">Cancelar</a>
              </div>
            </div>
          </div>
          <div class="col-md-6"> </div>
        </div>
      </div>
    </div>
    </form>
  </div>
  
</div>
