<div class="col-md-8">
    <div class="card">
        <div class="card-body">
            <div class="d-flex no-block align-items-center">
                <div>
                    <h4 class="card-title">Registrar</h4>
                    <h6 class="card-subtitle"> Complete el formulario alumnos</h6>
                </div>
            </div>
            
            <form class="form">
                <div class="form-group m-t-20 row">
                    <label class="col-md-2 col-form-label">Cui*</label>
                    <div class="col-md-10">
                        <input class="form-control" value="Artisanal kale">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">Nombres*</label>
                    <div class="col-md-10">
                        <input class="form-control" value="How do I shoot web">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">Apellidos*</label>
                    <div class="col-md-10">
                        <input class="form-control" value="bootstrap@example.com">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">Gmail*</label>
                    <div class="col-md-10">
                        <input class="form-control" type="email" value="https://getbootstrap.com">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">Tercio</label>
                    <div class="col-md-10">
                        <select class="custom-select col-12" name="grupo_id">
                            <option selected="">Elegir...</option>
                            <option *ngFor="let grupo of grupos" [value]="grupo.id">{{ grupo.numero }}</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Registrar</button>
                <a routerLink=".." class="btn btn-inverse waves-effect waves-light">Cancelar</a>
            </form>
            
        </div>
    </div>
</div>