<div class="col-md-8">
    <div class="card">
        <div class="card-body">
            <div class="d-flex no-block align-items-center">
                <div>
                    <h4 class="card-title">Registrar</h4>
                    <h6 class="card-subtitle"> Complete el formulario alumnos</h6>
                </div>
            </div>
            
            <form class="form">
                <div class="form-group m-t-20 row">
                    <label for="example-text-input" class="col-md-2 col-form-label">Cui*</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" value="Artisanal kale" id="example-text-input">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-search-input" class="col-md-2 col-form-label">Nombres</label>
                    <div class="col-md-10">
                        <input class="form-control" type="search" value="How do I shoot web" id="example-search-input">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-email-input" class="col-md-2 col-form-label">Apellidos</label>
                    <div class="col-md-10">
                        <input class="form-control" type="email" value="bootstrap@example.com" id="example-email-input">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-url-input" class="col-md-2 col-form-label">Email</label>
                    <div class="col-md-10">
                        <input class="form-control" type="url" value="https://getbootstrap.com" id="example-url-input">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-month-input" class="col-md-2 col-form-label">Tercio</label>
                    <div class="col-md-10">
                        <select class="custom-select col-12" id="inlineFormCustomSelect">
                            <option selected="">Choose...</option>
                            <option value="1">1er</option>
                            <option value="2">2do</option>
                            <option value="3">3er</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
                <button type="submit" class="btn btn-inverse waves-effect waves-light">Cancel</button>
            </form>
        </div>
    </div>
</div>