<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Cursos</h4>
        <h6 class="card-subtitle">Matricula de Laboratorio</h6>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
              aria-selected="true">Seleccion de Cursos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
              aria-selected="false">Seleccion de Grupos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
              aria-selected="false">Constancia</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">


            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Nombre de Curso</th>
                    <th class="text-center">Seleccionar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Fundamentos de Programación</td>
                    <td class="text-center">
                      <input type="checkbox" id="md_checkbox_1" class="filled-in chk-col-light-blue" checked>
                      <label for="md_checkbox_1"></label>
                    </td>
                  </tr>
                  <tr>
                    <td>Tecnologia de Objetos</td>
                    <td class="text-center">
                      <input type="checkbox" id="md_checkbox_2" class="filled-in chk-col-light-blue" checked>
                      <label for="md_checkbox_2"></label>
                    </td>
                  </tr>
                  <tr>
                    <td>Redes y Comunicaciones de Datos</td>
                    <td class="text-center">
                      <input type="checkbox" id="md_checkbox_3" class="filled-in chk-col-light-blue" checked>
                      <label for="md_checkbox_3"></label>
                    </td>
                  </tr>
                  <tr>
                    <td>Sistemas Operativos</td>
                    <td class="text-center">
                      <input type="checkbox" id="md_checkbox_4" class="filled-in chk-col-light-blue" checked>
                      <label for="md_checkbox_4"></label>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <h5 class="text-danger text-center">Debes seleccionar los cursos que va a llevar</h5> 
           <!-- <a  class="btn btn-info float-sm-right text-white">Continuar</a>
        -->
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Curso</th>
                    <th class="text-center">Seleccionar Grupo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Fundamentos de Programación</td>
                    <td class="text-center">
                            <select class="custom-select">
                                <option value="1" selected>A</option>
                                <option value="2">B</option>
                            </select>
                  
                    </td>
                  </tr>
                  <tr>
                    <td>Tecnologia de Objetos</td>
                    <td class="text-center">
                      <select class="custom-select">
                        <option value="1" selected>A</option>
                        <option value="2">B</option>
                    </select>
                    </td>
                  </tr>
                  <tr>
                    <td>Redes y Comunicaciones de Datos</td>
                    <td class="text-center">
                      <select class="custom-select">
                        <option value="1" selected>A</option>
                        <option value="2">B</option>
                    </select>
                    </td>
                  </tr>
                  <tr>
                    <td>Sistemas Operativos</td>
                    <td class="text-center">
                      <select class="custom-select">
                        <option value="1" selected>A</option>
                        <option value="2">B</option>
                    </select>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            </div>
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Curso</th>
                    <th class="text-center">Grupo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Fundamentos de Programación</td>
                    <td class="text-center">
                           A
                  
                    </td>
                  </tr>
                  <tr>
                    <td>Tecnologia de Objetos</td>
                    <td class="text-center">
                      B
                    </td>
                  </tr>
                  <tr>
                    <td>Redes y Comunicaciones de Datos</td>
                    <td class="text-center">
                      C
                    </td>
                  </tr>
                  <tr>
                    <td>Sistemas Operativos</td>
                    <td class="text-center">
                     B
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
            <h5 class="text-danger text-center">Seleccione correctamente sus cursos, solo tendra una oportunidad</h5> 
            <a  class="btn btn-info float-sm-right text-white">Matricular</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
