<div class="col-md-8">
    <div class="card">
        <div class="card-body">
            <div class="d-flex no-block align-items-center">
                <div>
                    <h4 class="card-title">Editar</h4>
                    <h6 class="card-subtitle"> Edite el formulario alumnos</h6>
                </div>
            </div>
            <app-error-validation [errorValidations]="errorValidations"></app-error-validation>
            <form class="form" [formGroup]="form" (ngSubmit)="actualizar()">
                <div class="form-group m-t-20 row">
                    <label class="col-md-2 col-form-label">Cui*</label>
                    <div class="col-md-10">
                        <input class="form-control" formControlName="cui">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">Nombres*</label>
                    <div class="col-md-10">
                        <input class="form-control" formControlName="nombre">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">Apellidos</label>
                    <div class="col-md-10">
                        <input class="form-control" formControlName="apellido">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">Email</label>
                    <div class="col-md-10">
                        <input class="form-control" type="email" formControlName="gmail">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">Tercio</label>
                    <div class="col-md-10">
                        <select class="custom-select col-12" formControlName="grupo_id">
                            <option value="">Elegir...</option>
                            <option *ngFor="let grupo of grupos" [value]="grupo.id">{{ grupo.numero }}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 col-form-label">Autorizacion</label>
                    <div class="col-md-10">
                        <select class="custom-select col-12" formControlName="autorizacion">
                            <option value="1" selected>Habilitado</option>
                            <option value="0">Desabilitado</option>
                        </select>
                    </div>
                </div>
                <app-button-loading [loading]="loading" value="guardar cambios"></app-button-loading>
                <a appBackButton class="btn btn-inverse waves-effect waves-light text-white">Cancelar</a>
            </form>
        
        </div>
    </div>
</div>