<mat-card class="mat-elevation-z8">
  <h4 class="card-title">Docentes Registrados</h4>
  <div>
    <button type="button" class="btn btn-success btn-rounded m-t-10" data-toggle="modal"
      data-target="#modalCargarExcel"><i class='fa fa-plus'></i> Cargar Docentes</button>
    <a routerLink="crear" class="btn btn-info btn-rounded float-sm-right"><i class='fa fa-plus'></i> Nuevo Docente</a>
  </div>

  <div class="mt-2">
    <mat-form-field class="w-100">
      <input matInput placeholder="Buscar">
    </mat-form-field>
  </div>
</mat-card>

<br>
<app-table></app-table>

<!-- Modal-->
<div class="modal fade in show" id="modalCargarExcel" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel1">Cargar Docentes</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">×</span></button>
      </div>
      <form>
        <div class="modal-body">

          <div class="form-group">
            <label>Docentes Excel</label>
            <input type="file" class="form-control-file" [(ngModel)]="file" name="file" accept=".xls,.xlsx">
          </div>

        </div>
        <div class="modal-footer">
          <button type="reset" class="btn btn-default" data-dismiss="modal" (click)="resetFile()">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="cargarArchivoExcel()" data-dismiss="modal">Subir
            xls</button>
        </div>
      </form>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="modalDialogo" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Alerta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿ Desea eliminar el siguiente Docente ?
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-primary w-50" (click)="eliminar()" data-dismiss="modal">Si</button>
        <button type="button" class="btn btn-secondary w-50" data-dismiss="modal">No</button>

      </div>
    </div>
  </div>
</div>
