


<div class="col-12">
  <div class="card">
    <div class="card-body">
     
      <div class="d-flex no-block align-items-center">
        <div>
          <h4 class="card-title">Cronograma</h4>
          <h6 class="card-subtitle"> Fechas de acceso matriculas</h6>
        </div>
      </div>

      <hr class="m-t-0 m-b-40">

      <div class="row">
        <div class="col-md-6">

          <div>

            <h5>Primer Tercio</h5>

            <div class="form-group form-row">
              <div>
                <input type="date" name="bday" max="3000-12-31" min="1000-01-01" class="form-control">
              </div>
              <label class="col-form-label mx-2">hasta</label>
              <div>
                <input type="date" name="bday" max="3000-12-31" min="1000-01-01" class="form-control">
              </div>
            </div>


          </div>
          <hr class="my-3">
          <div>

            <h5>Segundo Tercio</h5>

            <div class="form-group form-row">
              <div>
                <input type="date" name="bday" max="3000-12-31" min="1000-01-01" class="form-control">
              </div>
              <label class="col-form-label mx-2">hasta</label>
              <div>
                <input type="date" name="bday" max="3000-12-31" min="1000-01-01" class="form-control">
              </div>
            </div>


          </div>
          <hr class="my-3">
          <div>

            <h5>Tercer Tercio</h5>

            <div class="form-group form-row">
              <div>
                <input type="date" name="bday" max="3000-12-31" min="1000-01-01" class="form-control">
              </div>
              <label class="col-form-label mx-2">hasta</label>
              <div>
                <input type="date" name="bday" max="3000-12-31" min="1000-01-01" class="form-control">
              </div>
            </div>


          </div>

        </div>
        <div class="col-md-6">

            <div>

                <h5>Cachimbos</h5>
    
                <div class="form-group form-row">
                  <div>
                    <input type="date" name="bday" max="3000-12-31" min="1000-01-01" class="form-control">
                  </div>
                  <label class="col-form-label mx-2">hasta</label>
                  <div>
                    <input type="date" name="bday" max="3000-12-31" min="1000-01-01" class="form-control">
                  </div>
                </div>
    
    
              </div>
          <hr class="my-3">
          <div>

            <h5>Rematriculas</h5>

            <div class="form-group form-row">
              <div>
                <input type="date" name="bday" max="3000-12-31" min="1000-01-01" class="form-control">
              </div>
              <label class="col-form-label mx-2">hasta</label>
              <div>
                <input type="date" name="bday" max="3000-12-31" min="1000-01-01" class="form-control">
              </div>
            </div>


          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Guardar Cambios</button>
      <a appBackButton class="btn btn-inverse waves-effect waves-light text-white">Cancelar</a>
    </div>
    
  </div>
</div>
