<div class="col-md-8">
    <div class="card">
        <div class="card-body">
            <div class="d-flex no-block align-items-center">
                <div>
                    <h4 class="card-title">Registrar</h4>
                    <h6 class="card-subtitle"> Complete el formulario de laboratorios</h6>
                </div>
            </div>
            
            <form class="form">
            
                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Seleccione un curso</label>
                    <div class="col-md-9">
                        <select class="custom-select col-12">
                            <option value="1" selected>Fundamentos de Programación</option>
                            <option value="2">2do</option>
                            
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Seleccione un grupo</label>
                    <div class="col-md-3">
                        <select class="custom-select col-12">
                            <option value="1" selected>Grupo A</option>
                            <option value="2">Grupo B</option>
                            <option value="3">Grupo C</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Seleccione un profesor</label>
                    <div class="col-md-9">
                        <select class="custom-select col-12">
                            <option value="1" selected>Marco Aedo</option>
                            <option value="2">2do</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Nro de Cupos*</label>
                    <div class="col-md-3">
                        <input class="form-control" type="number" value="20">
                    </div>
                </div>
               

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Descripcion</label>
                    <div class="col-md-9">
                        <textarea class="form-control"  value="https://getbootstrap.com"></textarea>
                    </div>
                </div>
                

              
                <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Registrar</button>
                <a routerLink=".." class="btn btn-inverse waves-effect waves-light">Cancelar</a>
            </form>
            
        </div>
    </div>
</div>

