@import '~@angular/material/prebuilt-themes/indigo-pink.css';


.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

/* You can add global styles to this file, and also import other style files */
.example-container>* {
  width: 100%;
  /*font-size: 14px;*/
}

.form-control-file{
  border: 0px solid;
  width: 100%;
}

.table_responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar; }
.pd-x-20 {
  padding-left: 20px;
  padding-right: 20px
}
.pd-x-15{
    padding-left: 15px;
    padding-right: 15px
  }   


.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-row button {
  margin-right: 5px;
}


#themecolors a {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}
.pointer-sidebar {
 cursor: pointer; 
}

.pointer-sidebar:hover  {
  color: white !important;
  background-color: #67757c;
  font-weight: 500;
}

.w150 {
  width: 150px;
}

.w70 {
  width: 70px;
}

.img-50 {
  width: 50px;
}

.oculto {
  display: none;
}

.fondo-negro {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.pruebaActiveClass {
  font-weight: bold;
}
.w-20{
  width: 20%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-table{
  width: 100%;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}
.mat-cell { 
  font-size: 16px;
  color: #67757c;
  font-weight: 350;
}
.mat-header-cell {
  font-size: 16px;
  color: #67757c;
  font-weight: 500;
}
.mat-icon {
  transform: scale(0.8);
}

/* Tabla de Listado de datos */
.example-container {
  position: relative;
  min-height: 200px;
}

.example-table-container {
  position: relative;
  overflow: auto;
}

table {
  width: 100%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}
